
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="tripList">TravelManagerFE</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tripList">
                <MatIcon style="padding: 0px 20px 0px 0px;" Icon="mode_edit_outline"></MatIcon> Trip creation 
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="reviewList">
                <MatIcon style="padding: 0px 20px 0px 0px;" Icon="visibility"></MatIcon> Reviews 
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="trips">
                <MatIcon style="padding: 0px 20px 0px 0px;" Icon="flight_takeoff"></MatIcon> Trips 
            </NavLink>
        </li>
    </ul>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
