@using TravelManagerFE.Data.Models
@using Microsoft.AspNetCore.Components
@using System.Threading.Tasks
<h3>Comment</h3>
<p>
    <MatTextField @bind-Value="@comment" TextArea="true" Style="width: 100%"></MatTextField>
</p>
<MatButton @onclick="@(() => ReturnComment())"> Post </MatButton>
@code {
    public string comment { get; set; }
    [Parameter]
    public Visit ReviewingVisit { get; set; }
    [CascadingParameter] 
    BlazoredModalInstance BlazoredModal { get; set; }

    async Task ReturnComment()
    {
        await BlazoredModal.Close(ModalResult.Ok<string>(comment));
    }
}
