@using TravelManagerFE.Data.Models
<h3>New Visit</h3>
@page "/tripDetails/{id}/addVisit"
@inject TripService TripService
@inject NavigationManager NavigationManager
@*Title = location.Title,
    Type = location.Type,
    LocationId = location.LocationId,
    Address = location.Address,
    Latitude = location.Latitude,
    Longtitude = location.Longtitude*@

<div class="mat-layout-grid mat-layout-grid-align-left" style="max-width: 800px;">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            <EditForm Model="Location">
                <p>
                    <MatTextField @bind-Value="Location.Title" HelperText="Helper Text" Label="Title"></MatTextField>
                </p>
                <p>
                    <MatSelect HelperText="" HelperTextPersistent="true" Label="Pick the type of the trip" @bind-Value="@Location.Type">
                        <MatOptionString></MatOptionString>
                        <MatOptionString Value="geos">Geographical object</MatOptionString>
                        <MatOptionString Value="lodging">Lodging</MatOptionString>
                        <MatOptionString Value="things_to_do">Things to do</MatOptionString>
                    </MatSelect>
                </p>
                <p>
                    <MatTextField @bind-Value="Location.Address" HelperText="Helper Text" Label="Address"></MatTextField>
                </p>
                <p>
                    <MatTextField @bind-Value="Location.Latitude" HelperText="Helper Text" Label="Latitude"></MatTextField>
                </p>
                <p>
                    <MatTextField @bind-Value="Location.Longtitude" HelperText="Helper Text" Label="Longtitude"></MatTextField>
                </p>
            </EditForm>
            <MatButton @onclick="DisplayDestinationSearch">Search for location</MatButton>
        </div>
        <div class="mat-layout-grid-cell">
            <EditForm Model="VisitRequest">
                <MatDatePicker @bind-Value="VisitRequest.Arrival" HelperText="Arrival" EnableTime="true" Enable24hours="true"></MatDatePicker>
                <MatDatePicker @bind-Value="VisitRequest.Departure" HelperText="Departure" EnableTime="true" Enable24hours="true"></MatDatePicker>
            </EditForm>
            <MatButton @onclick="SaveNewVisit">Add visit to trip</MatButton>
        </div>
    </div>
</div>

@if (DestinationSearchShown)
{
    <DestinationSearch OnClick="ClickHandler"></DestinationSearch>
}

@code {
    [Parameter]
    public string Id { get; set; }
    public Visit Visit { get; set; } = new Visit();
    public VisitRequest VisitRequest { get; set; } = new VisitRequest();
    public Location Location { get; set; } = new Location();

    private bool DestinationSearchShown { get; set; }

    private void DisplayDestinationSearch() => DestinationSearchShown = !DestinationSearchShown;




    void ClickHandler(Location locationReq)
    {
        //var locationResult = TripService.AddLocation(trip.Id, location);

        //var visit = new VisitRequest
        //{
        //    Arrival = destinationRequest.Arrival,
        //    Departure = destinationRequest.Departure,
        //    LocationId = locationResult.Id,
        //    TripId = trip.Id
        //};

        //trip = TripService.AddDestinationToTrip(visit);

        Location = locationReq;
    }

    private void SaveNewVisit()
    {
        var locationResult = TripService.AddLocation(Id, Location);

        var visit = new VisitRequest
        {
            Arrival = VisitRequest.Arrival,
            Departure = VisitRequest.Departure,
            LocationId = locationResult.Id,
            TripId = Id
        };

        TripService.AddDestinationToTrip(visit);
        NavigationManager.NavigateTo($"tripDetails/{Id}");
    }

}
