@using Newtonsoft.Json
@using TravelManagerFE.Data.Models
@using Microsoft.AspNetCore.Components
@using System.Collections.Generic
@using System.Linq
@using System.Threading.Tasks
<h3>Reviews</h3>

@page "/reviewList"
<AuthorizeView>
    <Authorized>
        <div>
            @if (isEligibleForReviews)
            {
                @if (reviews.Any())
                {

                    @if (currentUser != null)
                    {
                        <table>
                            <tr>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Cost</th>
                                <th></th>
                            </tr>
                            @foreach (var review in reviews)
                            {
                                <tr class="trip-table-row">
                                    <td>@review.Trip.Title</td>
                                    <td>@review.Trip.Type</td>
                                    <td>@review.Trip.Cost</td>
                                    <td><MatButton @onclick="@(() => GetDetails(review))">Review</MatButton></td>
                                </tr>
                            }
                        </table>
                    }
                }
                else
                {
                    <p>No reviews available.</p>
                }
            }
            else
            {
                <p>You do not belong to any organization.</p>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        You are not welcome here!
    </NotAuthorized>
</AuthorizeView>

@inject TripService TripService
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage
@inject NavigationManager NavigationManager

@code {
    public List<Review> reviews = new List<Review>();
    public User currentUser;
    public bool isEligibleForReviews = true;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        var user = await SessionStorage.GetItemAsync<string>("user");
        currentUser = JsonConvert.DeserializeObject<User>(user);

        reviews = TripService.GetReviewsByUserId(currentUser.Id);
        isEligibleForReviews = currentUser.Contracts.Any();

        this.StateHasChanged();
    }

    private void GetDetails(Review review)
    {
        NavigationManager.NavigateTo($"review/{review.Id}");
    }

}
