@using TravelManagerFE.Data.Models

@page "/signup"
<div class="fill">
    <div class="limiter">
        <div class="wrap-login">
            <span class="login-title">
                <div>
                    <b>Sign up</b>
                </div>
            </span>
            <div class="login-input-field">
                <input class="login-input" placeholder="username" @bind="username" />
            </div>
            <div class="login-input-field">
                <input class="login-input" placeholder="password" @bind="password" />
            </div>
            <div class="login-input-field">
                <input class="login-input" placeholder="name" @bind="name" />
            </div>
            <div class="login-input-field">
                <input class="login-input" placeholder="surname" @bind="surname" />
            </div>
            <div class="login-button-wrap">
                <div>
                    <MatButton @onclick="SignupUser">Submit</MatButton>
                </div>
            </div>
        </div>
    </div>
</div>

@inject OrganisationService organisationService
@inject UserService userService;
@inject NavigationManager NavigationManager;

@code {
    public string username;
    public string password;
    public string name;
    public string surname;
    List<Organisation> organisations = new List<Organisation>();
    private string ddlIndex { get; set; } = "";

    protected override void OnInitialized()
    {
        organisations = organisationService.getPublicOrganisations();
    }

    public void SignupUser()
    {
        userService.CreateUser(username, password, name, surname);
        NavigationManager.NavigateTo("/");
    }
}
