@using TravelManagerFE.Data
@using TravelManagerFE.Pages

@page "/tripDetails/{id}"

<h3>Trip Details</h3>

@inject NavigationManager NavigationManager
@inject TripService TripService


<div>
    <b>@trip.Id</b>
</div>
<br/>
<br/>
<b>Destinations</b>
<div>
    <ul>
        @foreach (var destination in trip.Destinations)
        {
            <li>@destination.Title</li>
            <li>@destination.CreatedDate</li>
            <li>@destination.Type</li>
        }
    </ul>
</div>
<div>
    <button @onclick="DisplayDestinationSearch">Search for destinations</button>
</div>
<br/>
<br/>
@if (DestinationSearchShown)
{
    <DestinationSearch OnClick="ClickHandler"></DestinationSearch>
}


@code {
    [Parameter]
    public string Id { get; set; }
    private Trip trip = new Trip();
    private bool DestinationSearchShown { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        DestinationSearchShown = false;
        trip = TripService.GetTrip(Id);
    }

    void ClickHandler(Destination destination)
    {
        trip = TripService.AddDestinationToTrip(trip.Id, destination);
    }

    private void DisplayDestinationSearch() => DestinationSearchShown = !DestinationSearchShown;
}
