@page "/tripcreation"
@using TravelManagerFE.Data
@using TravelManagerFE.Data.Models
@using OneOf.Types

<h3>TripCreation</h3>

@inject NavigationManager NavigationManager
@inject TripService TripService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserService UserService

<div>
    <EditForm Model="@tripRequest" OnSubmit="@CreateTrip">
        <div class="body-limiter">
            <div class="wrap-login">
                <label class="login-input">
                    Title:
                    <br/>
                    <MatTextField id="title" @bind-Value="tripRequest.Title" />
                </label>
                <MatDivider></MatDivider>
                <label>
                    Creating for organisation:
                    <br />
                    <MatSelectItem id="Id" Items="Organisations" @bind-Value="organisation">
                        <ItemTemplate Context="orgContext">
                            <span>@orgContext?.Title</span>
                        </ItemTemplate>
                    </MatSelectItem>
                </label>
                <br/>
                <MatButton class="login-button-wrap" type="submit">Submit</MatButton>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private string Title { get; set; }
    private TripRequest tripRequest { get; set; } = new TripRequest();
    private List<Organisation> Organisations { get; set; } = new List<Organisation>();
    private Organisation organisation { get; set; } = new Organisation();
    private User CurrentUser;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        CurrentUser = await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).GetCurrentUser();
        Organisations = CurrentUser.Contracts?.Select(c => c.Organisation).ToList();
        Organisations.Add(new Organisation
        {
            Contracts = new List<Contract>(),
            Id = string.Empty,
            Title = "Private trip"
        });
    }


    public async void CreateTrip()
    {
        tripRequest.CreatorId = CurrentUser.Id;
        tripRequest.OrganisationId = organisation.Id;

        TripService.CreateTrip(tripRequest);
        NavigationManager.NavigateTo("triplist");
    }


}
