@page "/tripcreation"
@using TravelManagerFE.Data

<h3>TripCreation</h3>

@inject NavigationManager NavigationManager
@inject TripService TripService

<div>
    <EditForm Model="@tripRequest" OnValidSubmit="@CreateTrip">
        <div class="body-limiter">
            <div class="wrap-login">
                <label class="login-input">
                    Title:
                    <InputText  class="login-input-field" id="title" @bind-Value="tripRequest.Title"/>
                </label>
                <label>
                    Type:
                    <InputSelect  class="login-input-field" id="type" @bind-Value="tripRequest.Type">
                        @foreach (var value in Enum.GetValues(typeof(TripType)))
                        {
                            <option>@value</option>
                        }
                    </InputSelect>
                </label>
                <button class="login-button-wrap" type="submit">Submit</button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private string Title { get; set; }
    private TripRequest tripRequest { get; set; } = new TripRequest();

    public void CreateTrip()
    {
        var trip = new TripRequest
        {
            Title = Title
        };

        TripService.CreateTrip(tripRequest);
        NavigationManager.NavigateTo("triplist");
    }


}
