@using TravelManagerFE.Data

@page "/tripList"

<AuthorizeView>
    <Authorized>
        <div>
            <h3>Trip List</h3>
            <button @onclick="CreateTrip">Create new</button>
        </div>

        @inject NavigationManager NavigationManager
        @inject TripService TripService

        <div>
            @if (trips.Any())
            {
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Cost</th>
                        <th></th>
                    </tr>
                    @foreach (var trip in trips)
                    {
                        <tr class="trip-table-row">
                            <td>@trip.Title</td>
                            <td>@trip.Type</td>
                            <td>@trip.Cost</td>
                            <td><button @onclick="@(() => GetDetails(trip))">Details</button></td>
                        </tr>
                    }
                </table>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        You are not welcome here!
    </NotAuthorized>
</AuthorizeView>


@code {
    private List<Trip> trips = new List<Trip>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        trips = TripService.GetTrips();
    }

    private void GetDetails(Trip trip)
    {
        NavigationManager.NavigateTo($"tripdetails/{trip.Id}");
    }

    private void CreateTrip()
    {
        NavigationManager.NavigateTo($"tripcreation");
    }
}
