@using TravelManagerFE.Data
@using TravelManagerFE.Pages
@using Plk.Blazor.DragDrop

@page "/tripDetails/{id}"

<h3>Trip Details</h3>

@inject NavigationManager NavigationManager
@inject TripService TripService


<div>
    <b>@trip.Id</b>
</div>
<br />
<br />
<b>Destinations</b>
<Dropzone Items="trip.Destinations">
    <div>@context.Title</div>
</Dropzone>
<div>
    <button @onclick="SaveDestinationOrder">Save destination order</button>
    <button @onclick="DisplayDestinationSearch">Search for destinations</button>
</div>
<br />
<br />
@if (DestinationSearchShown)
{
    <DestinationSearch OnClick="ClickHandler"></DestinationSearch>
}


@code {
    [Parameter]
    public string Id { get; set; }
    public Trip trip = new Trip();
    private bool DestinationSearchShown { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        DestinationSearchShown = false;
        trip = TripService.GetTrip(Id);
        trip.Destinations = trip.Destinations.OrderBy(destination => destination.Index).ToList();
    }

    void ClickHandler(Destination destination)
    {
        trip = TripService.AddDestinationToTrip(trip.Id, destination);
    }

    private void DisplayDestinationSearch() => DestinationSearchShown = !DestinationSearchShown;

    private void SaveDestinationOrder()
    {
        foreach (var tripDestination in trip.Destinations)
        {
            tripDestination.Index = trip.Destinations.IndexOf(tripDestination).ToString();
        }

        TripService.ReorderTripDestinations(trip);
    }
}
